body {
	background-color: #232323;
	margin:0;
	font-family:"Montserrat","Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	margin: 1.66%;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color 0.3s;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	padding: 20px 0;
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
}


#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	color: white;
	background-color: steelblue;
}

#colorDisplay {
	font-size: 200%;
}

button {
	border:none;
	height: 100%;
	border: none;
	background: none;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s; /*what we want to trranstion (all properties of button..?), how long we want it to take*/
	-webkit-transition: all .3s;
	-moz-transition: all 0.3s;
	outline:none;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background-color: steelblue;
}
